<h1>Potrebbero piacerti questi post!</h1>

<div class="tag-filter">
  <span
    *ngFor="let tag of tags"
    (click)="filterByTag(tag)"
    [ngClass]="{ 'selected-tag': selectedTag === tag }"
    class="tag"
  >
    {{ tag | uppercase }}
  </span>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  <div *ngFor="let post of filteredPosts" class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
      </div>
      <a class="btn btn-primary" [routerLink]="['/detail', post.id]"
        >Dettagli</a
      >
    </div>
  </div>
</div>
